<html>
  <head>
  <% include ./partials/head %>
  </head>
  <body>
    <header>
      <% include ./partials/header %>
    </header>
    <h1 class="center"><%= profile.title %></h1>
    <h5 class="center"><%= profile.email %></h5>
    <h5 class="center"><%= profile.age %></h5>
    <h5 class="center"><%= profile.area %></h5>
    <h5 class="center"><%= profile.instruments %></h5>
    <h5 class="center"><%= profile.experience %></h5>
    <h5 class="center"><%= profile.style %></h5>
    <h5 class="center"><%= profile.needs %></h5>


  </body>
</html>
